.poster {
  width: 210px;
  height: 295px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: box-shadow ease .3s;
  &:hover {
    box-shadow: 
      0 3px 78px 0 rgba(0,0,0,0.15),
      0 3px 78px 0 rgba(0,0,0,0.15);;
  }

  &__image {
    margin: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}