.selected-show {
  // height:400px;
  width:100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 60px 100px;
  box-shadow: inset 0 1px 25px 0 rgba(0,0,0,0.50);

  &__details {
    display: flex;
    color:white;
    img {
      max-width:300px;
      max-height:400px;
      margin-right: 60px;
      box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.5);
    }

    &__content {
      &__summary {
        text-align: justify;
      }

      display: flex;
      flex-direction: column;

      h1 {
        margin-top: 0px;
        font-size: 40px;
      }
      .episodes-button {
        margin-top: auto;
        border:none;
        padding:12px;
        color:white;
        background: #5194E6;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen 
and (max-device-width : 1024px) { 
  .selected-show {
    padding:40px;
    &__details {
      flex-direction: column;
      img {
        margin: 0;
        margin-bottom:40px;
        align-self: center;
      }
    }
  }
}