.episodes-list {
  // padding: 40px 0;
}

.episode {
  display: flex;
  padding: 40px;
  &:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.15);
  }
  
  img {
    margin-right:40px;
  }

  &-details {
    font-weight: 100;
    h3 {
      color:white;
      font-weight: 100;
    }
    color:rgba(255, 255, 255, 0.8);
  }
}

@media only screen 
and (max-device-width : 1024px) { 
  .episode {
    flex-direction: column;

    img {
      margin:0;
      width:100%;
    }

    &-details {
      text-align: justify;
    }
  }
}