.navbar {
  height: 60px;
  padding: 0 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background:#4B5163  ;
  color:white;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.15);

  &-link {
    color:white;
    text-decoration: none;
    font-weight: bold;
  }
}