@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #383C4B ;
}

html, body {
  height:100%;
}

#root {
  height:100vh;
  display: flex;
  flex-direction: column;
}

div {
  box-sizing: border-box;
}

.loading {
  display: flex;
  height:100%;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #5194E6;
  background: linear-gradient(to right, #5194E6 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 .6s infinite linear;
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #5194E6;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #383C4B;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}